<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87251150170-91dctk4nig9l6mrcattokqre9nflfekq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87251150170-91dctk4nig9l6mrcattokqre9nflfekq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDBzGXuU8-mZOHN0WW3aF_Qa4loXY3_FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87251150170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devezequias.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-6af52</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-6af52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:87251150170:ios:95500d3634f1e89e973f63</string>
</dict>
</plist>
